<%- include('./partials/headAndNav') %>

<form class="form" method="POST" action="/musicians/anything">
    <div>
        <label for="name">Enter the artist's name</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="image">Enter the URL for the image</label>
        <input type="text" name="img" id="image">
    </div>
    <div>
        <label for="name">What instrument are they holding?</label>
        <input type="text" name="instrument" id="instrument">
    </div>
    <input type="submit" value="Submit new artist">
</form>

<%- include('./partials/footer') %>